<!DOCTYPE html>
<html lang="pt-br">
  <%- include("./partials/header") %>

  <head>
    <link rel="stylesheet" href="css/css.css">
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <br><br>

    <body>
      <div id="butonnaesquerda" class="container">
        <h1 style="font-size: 30;">ControDinheiro</h1>
        <button type="button" class="btn btn-success" onclick="Login()">Entrar
        </button>
        <button type="button"class="btn btn-danger" data-toggle="modal" data-target="#modal_usuario"  >Não tem Login Cadatre-se
        </button>
      </div>
      <div id="logoinicial" class="container">
        
        <img  src="img/dinheiro.png" >
          
          <h3 style="color: black;">Gerencie seus Gastos e Ganhos No Paíss que voçe Estiver</h3>
          <hr>
        <div class="row">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="img/relatorio.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">relatorios</h5>
              <p class="card-text">Estabeleça relatorios de gastos e ganhos</p>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <div class="row">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="img/icone.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Conversãos</h5>
            <p class="card-text">Realize conversão com qualquer valor de Moeda</p>
          </div>
        </div>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      </div>
      <div class="row">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="col">
          
        </div>
      
      </div>
    </div>
      </div>
  
    <div class="modal fade" id="modal_usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5><br>
          
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/saveUsuario" method="POST">
              <div class="form-group">
                <label for="form_Usuario">Nome</label><br>
                <input name="username" type="text" /><br />
                <label for="form_Usuario">Sobrenome</label><br>
                <input name="user_sobrenome" type="text" /><br />
                <label for="form_Usuario">Email</label><br>
                <input name="user_email" type="text" /><br />
                <label for="form_Usuario">Número</label><br>
                <input name="user_numero" type="text" /><br />
                <label for="form_Usuario">senha</label><br><br>
                <input name="password" type="password" /><br />
              </div>
              <button type="submit" class="btn btn-primary" >Cadastrar - se</button>
            </form>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
 
  </center>
  <script>
    function Login(){
      window.location.href = "http://localhost:8080/login"
    }
  </script>
 

    <style>
        .container img {
      max-width:200px;
      max-height:150px;
      width: auto;
      height: auto;
  }
    
      h1{
        text-align: center;
        color: black;
      }
    
      *{
        margin: 0%;
      }
    body{
      background-color: rgb(104, 240, 104)
    }
    h3{
      text-align: center;
    }
    #logoinicial{
      text-align: center;
    }
    #butonnaesquerda{
      text-align: right;
    }
    .card{
      background-color: white;
    }
    </style>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
   <!--<script src="/script.js"></script>--> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
