<!DOCTYPE html>
<html lang="pt-br">
  <%- include("./partials/header") %>
<link rel="stylesheet" href="/public/css/stilys.css">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <br><br>
  <center>
    <body>
      <div class="container">
    
         <img src="https://i.pinimg.com/474x/9c/3e/01/9c3e0178278d01c8e9c45029bb9015b2.jpg" alt="ControDinheiro">
          <h1 style="font-size: 30;">ControDinheiro</h1>
          <h3 style="color: black;">Gerencie seus Gastos e Ganhos</h3>
        <button type="button" class="btn btn-success" onclick="Login()">Entrar
        </button>
        <button type="button"class="btn btn-danger" data-toggle="modal" data-target="#modal_usuario"  >Não tem Login Cadatre-se
        </button>
        
      </div>
  </center>
  <center>
    <div class="modal fade" id="modal_usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5><br>
          
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/saveUsuario" method="POST">
              <div class="form-group">
                <label for="form_Usuario">Nome</label><br>
                <input name="username" type="text" /><br />
                <label for="form_Usuario">Sobrenome</label><br>
                <input name="user_sobrenome" type="text" /><br />
                <label for="form_Usuario">Email</label><br>
                <input name="user_email" type="text" /><br />
                <label for="form_Usuario">Número</label><br>
                <input name="user_numero" type="text" /><br />
                <label for="form_Usuario">senha</label><br><br>
                <input name="password" type="password" /><br />
              </div>
              <button type="submit" class="btn btn-primary" >Cadastrar - se</button>
            </form>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  
  </center>
  <script>
    function Login(){
      window.location.href = "http://localhost:8080/login"
    }
  </script>
 

    <style>
        .container img {
      max-width:200px;
      max-height:150px;
      width: auto;
      height: auto;
  }
    
      h1{
        text-align: center;
        color: black;
      }
    
      *{
        margin: 0%;
      }
    </style>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
   <!--<script src="/script.js"></script>--> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
