


<!DOCTYPE html>
<html lang="pt-br">
  <%- include("./partials/header") %>
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <center>
      <div class="modal fade" id="modal_usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5><br>
            
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/saveUsuario" method="POST">
                <div class="form-group">
                  <label for="form_Usuario">Nome</label><br>
                  <input name="username" type="text" /><br />
                  <label for="form_Usuario">Sobrenome</label><br>
                  <input name="user_sobrenome" type="text" /><br />
                  <label for="form_Usuario">Email</label><br>
                  <input name="user_email" type="text" /><br />
                  <label for="form_Usuario">Número</label><br>
                  <input name="user_numero" type="text" /><br />
                  <label for="form_Usuario">senha</label><br><br>
                  <input name="password" type="password" /><br />
                </div>
                <button type="submit" class="btn btn-primary" >Cadastrar - se</button>
              </form>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    
    </center>

    <div class="modal fade" id="modal_recuperar_senha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Recuperar Senha</h5><br>
          
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/saveUsuario" method="POST">
              <div class="form-group">
                <input name="username" type="email" class="form-control" placeholder="Imforme o Email para Recuperação">
                
              </div>
             
            </form>
    
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" >Enviar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    
  <Br></Br><br>
            <center>
            <div class="container">
              <div class="jumbotron">
                <form action="/login" method="POST">
                  <h3 style="color:black">ControDinheiro</h3>
                  <fieldset> 
                    <br>
                    <input name="username" type="text" placeholder="Informe o seu nome"><br><Br>
                    <input name="password" type="password" placeholder="Informe o sua senha"><br> 
                    <input type="submit"  name="loguei" id="loguei" value="Login" />
                  
                   </p>
                    </fieldset>
                    <button type="button"  data-toggle="modal" data-target="#modal_usuario">
                      Cadastre-se
                     </button>
                    <button type="button"  data-toggle="modal" data-target="#modal_recuperar_senha">
                      Esqueci a Senha
                     </button>
                </form>
                <br>
                <% if(message) { %>
                  <p>
                    <label style="color:Red"><%= message %></label>
                  </p>
                <%}%>
              </div>
            </div>

          
            </center>
            
            <style>
              .jumbotron{
                background-color: #696969;
                left: 500px;
                width: 300px;
              }
              p{
                color: #90ee90;
              }
              body{
                background-color: green;
              }
            </style>
    
    <!--<script src="/script.js"></script>-->
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>





  